.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1340px;
}

.subheadContainer {
    margin: 0;
    padding: 40px 0 10px 0;
}

.sunhead {
    margin: 0;
    padding: 0;
    color: var(--tex);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}