.card {
  position: relative;
  width: 190px;
  height: 190px;
}

.back {
  background-color: var(--main);
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  border-radius: 8px;
}

.front {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  border-radius: 8px;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}