.footer {
  margin: 0;
  padding: 79px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--disabled-text);
  font-size: 13px;
  line-height: 16px;
}

.header {
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 20px 0;
  color: var(--grey-text);
}

.line {
  padding: 0;
  margin: 0px;
  width: calc(100% - 140px);
  max-width: 1140px;
  height: 1px;
  border: none;
  background-color: var(--grey-border);
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.credits_header {
  font-size: 1.3em;
  margin: 0;
  padding: 0 0 0 0;
}

.link {
  color: black;
  text-decoration: none;
}

.links {
  width: calc(100% - 140px);
  max-width: 1140px;

  box-sizing: border-box;

  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: 1fr; 

  font-size: 1em;
  margin: 0;
  padding: 20px 0 0 0;
}

.item {
  margin: 0;
  padding: 0;
  font-size: 1em;
  text-decoration: none;
  color: var(--text);
  opacity: 1;
  transition: 0.1s linear;
}

.item_pract {
  justify-self: end;
  padding-right: 20px;
}

.link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {

  .line {
    width: calc(100% - 60px);
  }
  
}

@media screen and (max-width: 425px) {

  .footer {
    font-size: 12px;
    line-height: 15px;
  }

  .line {
    width: calc(100% - 20px);
  }

  .links {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    justify-items: center;
    padding-top: 30px;
  }

  .item_pract {
    justify-self: initial;
    padding-right: 0;
    grid-row: 1;
    padding-bottom: 12px;
  }

  .item_git {
    grid-row: 2;
    padding-bottom: 30px;
  }
  
  .item_year {
    grid-row: 3;
    color: var(--grey-text);
  }
}